.chat-bubble {
    max-width: 100% !important;
}

.sidebaropt,
.sidebar-item {
    transition: width 0.9s ease !important;
    overflow: hidden;
}

.sidebar-label {
    transition: opacity 0.3s ease;
}

.sidebar-label.hidden {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.toggle-btn {
    transition: width 0.9s ease !important;
    overflow: hidden;
}
